---
import Layout from "../../layouts/Layout.astro";
import TagsList from "../../components/TagsList.astro";
---

<Layout title="Tags">
    <div class="prose prose-slate py-6 dark:prose-invert prose-h1:font-bold">
        <h1>Tags</h1>
    </div>
    <TagsList />
</Layout>
