---
import Layout from "./Layout.astro";
interface Props {
    frontmatter: {
        title: string;
    };
}

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <div
        class="prose prose-slate pt-6 dark:prose-invert prose-h1:font-bold prose-p:text-justify prose-a:text-blue-600 prose-img:rounded-xl"
    >
        <h1>{frontmatter.title}</h1>
        <slot />
    </div>
</Layout>
